<a href="https://colab.research.google.com/github/PelumiOgunlusi/PelumiOgunlusi/blob/main/Hamoye_Stage_B_Assignment_Pelumi_Ogunlusi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING THE RELEVANT LIBRARIES**

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

**READING THE DATASET**

In [2]:
energy = pd.read_csv('https://raw.githubusercontent.com/PelumiOgunlusi/Host-csv-files-on-Git-hub/main/energydata_complete.csv')

**EXPLORATORY DATA ANALYSIS ON THE DATASET**

In [3]:
energy.head()

              date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  1/11/2016 17:00          60      30  ...        5.3  13.275433  13.275433
1  1/11/2016 17:10          60      30  ...        5.2  18.606195  18.606195
2  1/11/2016 17:20          50      30  ...        5.1  28.642668  28.642668
3  1/11/2016 17:30          50      40  ...        5.0  45.410390  45.410390
4  1/11/2016 17:40          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [4]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
energy.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
energy.shape

(19735, 29)

In [7]:
energy.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [8]:
energy.ndim

2

**QUESTION 12: From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?**

**CHOOSING THE MODEL**

In [9]:
model = LinearRegression()

In [11]:
x = energy ['T2']
y = energy ['T6']

In [12]:
x_train, x_test, y_train, y_test = train_test_split (x,y)

In [13]:
x_train = np.array([x_train])

In [14]:
model.fit(x_train.reshape(-1,1), y_train)

LinearRegression()

In [15]:
x_test = np.array([x_test])

In [16]:
y_pred = model.predict(x_test.reshape(-1,1))

In [17]:
y_pred

array([ 2.22656795,  8.48449524, 23.13828938, ...,  7.79411892,
        5.56709853,  6.90331076])

In [21]:
r2_score(y_test, y_pred)

0.6509188366956392

**QUESTION 13: Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:**

**What is the Mean Absolute Error (in two decimal places)?**

In [34]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import metrics
scaler = MinMaxScaler()

In [23]:
energy_2 = energy.drop(columns = ['date', 'lights'])

In [24]:
normalised_df = pd.DataFrame(scaler.fit_transform(energy_2), columns=energy_2.columns)

In [25]:
x = energy_2.drop(columns = ['Appliances'])

In [26]:
y = energy_2['Appliances']

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.3, random_state=42)

In [28]:
model.fit(x_train, y_train)

LinearRegression()

In [31]:
y_pred = model.predict(x_test)

In [32]:
y_pred

array([ 45.51845895, 271.21071664,  46.38984287, ...,  83.22934265,
       116.99365326,  71.63901514])

In [35]:
meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
meanAbErr

53.64182829864584

**QUESTION 14: What is the Residual Sum of Squares (in two decimal places)?**

In [36]:
rss = np.sum(np.square(y_test - y_pred))
rss

51919454.857586876


**QUESTION 15: What is the Root Mean Squared Error (in three decimal places)?**

In [37]:
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
rootMeanSqErr

93.64132093572734

**QUESTION 16: What is the Coefficient of Determination (in two decimal places)?**

In [38]:
r2_score(y_test, y_pred)

0.1488868301298124

**QUESTION 17: Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?**

In [39]:
def get_weights_df(linear_model, feat, col_name):    
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [41]:
linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0            T9           -21.152541
1            T2           -18.371610
2          RH_2           -13.739669
3         T_out           -11.077375
4          RH_8            -5.778479
5          RH_9            -1.763041
6          RH_7            -1.693021
7            T5            -1.599649
8        RH_out            -1.094617
9            T1            -0.366268
10          rv1             0.016377
11          rv2             0.016377
12  Press_mm_hg             0.170007
13   Visibility             0.202573
14         RH_5             0.257563
15         RH_6             0.411368
16           T7             1.043756
17         RH_4             1.204280
18    Windspeed             2.230048
19           T4             2.791351
20         RH_3             4.805483
21    Tdewpoint             5.706443
22           T6             7.364040
23           T8             9.991014
24         RH_1            16.299310
25           T3            25.833153

**QUESTION 18: Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?**

In [42]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)

In [43]:
ridge_reg.fit(x_test, y_test)

Ridge(alpha=0.4)

In [49]:
pred_value = ridge_reg.predict(x_test)

In [50]:
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, pred_value))
rootMeanSqErr

93.32497447843268

**QUESTION 19: Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?**

In [51]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.077e+06, tolerance: 1.464e+04
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso(alpha=0.001)

In [52]:
y_pred_lasso = lasso_reg.predict(x_test)

In [53]:
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0            T9           -21.152541    -21.152541    -21.152541
1            T2           -18.371610    -18.371610    -18.371610
2          RH_2           -13.739669    -13.739669    -13.739669
3         T_out           -11.077375    -11.077375    -11.077375
4          RH_8            -5.778479     -5.778479     -5.778479
5          RH_9            -1.763041     -1.763041     -1.763041
6          RH_7            -1.693021     -1.693021     -1.693021
7            T5            -1.599649     -1.599649     -1.599649
8        RH_out            -1.094617     -1.094617     -1.094617
9            T1            -0.366268     -0.366268     -0.366268
10          rv1             0.016377      0.016377      0.016377
11          rv2             0.016377      0.016377      0.016377
12  Press_mm_hg             0.170007      0.170007      0.170007
13   Visibility             0.202573      0.202573      0.202573
14         RH_5             0.257563      0.257563      0.257563
15         RH_6             0.411368      0.411368      0.411368
16           T7             1.043756      1.043756      1.043756
17         RH_4             1.204280      1.204280      1.204280
18    Windspeed             2.230048      2.230048      2.230048
19           T4             2.791351      2.791351      2.791351
20         RH_3             4.805483      4.805483      4.805483
21    Tdewpoint             5.706443      5.706443      5.706443
22           T6             7.364040      7.364040      7.364040
23           T8             9.991014      9.991014      9.991014
24         RH_1            16.299310     16.299310     16.299310
25           T3            25.833153     25.833153     25.833153

**QUESTION 20: What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)**

In [54]:
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_lasso))
rootMeanSqErr

93.64133709623682