<a href="https://colab.research.google.com/github/PelumiOgunlusi/PelumiOgunlusi/blob/main/House_Prediction_Multiple_Linear_Regression_(Dev_Town_Python_and_Machine_Learning_Capstone_Project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the Libraries**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

**Reading the Dataset**
* Dataset Link: https://drive.google.com/file/d/1v4vNMRqztdsDjOz8t-yQujKR6UpH0ocb/view?usp=sharing

In [ ]:
house = pd.read_csv('/Housing Dataset.csv')

In [ ]:
house

        price  area  bedrooms  ...  parking  prefarea furnishingstatus
0    13300000  7420         4  ...        2       yes        furnished
1    12250000  8960         4  ...        3        no        furnished
2    12250000  9960         3  ...        2       yes   semi-furnished
3    12215000  7500         4  ...        3       yes        furnished
4    11410000  7420         4  ...        2        no        furnished
..        ...   ...       ...  ...      ...       ...              ...
540   1820000  3000         2  ...        2        no      unfurnished
541   1767150  2400         3  ...        0        no   semi-furnished
542   1750000  3620         2  ...        0        no      unfurnished
543   1750000  2910         3  ...        0        no        furnished
544   1750000  3850         3  ...        0        no      unfurnished

[545 rows x 13 columns]

In [ ]:
house.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [ ]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
null_counts = house.isnull().sum()
null_counts

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [ ]:
house.ndim

2

**Descriptive statistics for dataset**

In [ ]:
house.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

**Checking value counts for categorical variables**

In [ ]:
house.mainroad.value_counts()

yes    468
no      77
Name: mainroad, dtype: int64

In [ ]:
house.guestroom.value_counts()

no     448
yes     97
Name: guestroom, dtype: int64

In [ ]:
house.basement.value_counts()

no     354
yes    191
Name: basement, dtype: int64

In [ ]:
house.hotwaterheating.value_counts()

no     520
yes     25
Name: hotwaterheating, dtype: int64

In [ ]:
house.airconditioning.value_counts()

no     373
yes    172
Name: airconditioning, dtype: int64

In [ ]:
house.prefarea.value_counts()

no     417
yes    128
Name: prefarea, dtype: int64

In [ ]:
house.furnishingstatus.value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

**Using Find and Replace function to encode for categorical variables**

In [ ]:
clean_up = {"mainroad": {"yes": 1, "no": 0},
                "guestroom": {"yes": 1, "no": 0},
                  "basement": {"yes": 1, "no": 0},
                    "hotwaterheating": {"yes": 1, "no": 0},
                      "airconditioning": {"yes": 1, "no": 0},
                        "prefarea":  {"yes": 1, "no": 0},
                          "furnishingstatus": {"furnished": 2, "semi-furnished": 1, "unfurnished": 0}}

In [ ]:
house = house.replace(clean_up)

In [ ]:
house.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 2
1  12250000  8960         4  ...        3         0                 2
2  12250000  9960         3  ...        2         1                 1
3  12215000  7500         4  ...        3         1                 2
4  11410000  7420         4  ...        2         0                 2

[5 rows x 13 columns]

In [ ]:
house.ndim

2

**Choosing the model**

In [ ]:
model = LinearRegression()

**Splitting the dataset into train and test dataset**

In [ ]:
x = house[['area', 'bedrooms',	'bathrooms',	'stories',	'mainroad',	'guestroom',	'basement',	'hotwaterheating',	'airconditioning',	'parking',	'prefarea',	'furnishingstatus']]
y = house['price']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [ ]:
len(x_train)

408

In [ ]:
len(x_test)

137

In [ ]:
len(y_train)

408

In [ ]:

len(y_test)

137

In [ ]:
x_train.ndim

2

**Implementing the linear model**

In [ ]:
model.fit(x_train, y_train)

LinearRegression()

**Prediction of test set**

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred

array([ 5621203.38346929,  3787323.17958239,  5846524.52346771,
        5261699.76602563,  7175807.82749686,  5777459.73825631,
        2937967.08949357,  4292963.92846864,  6306758.41536668,
        5313279.12223705,  2987769.42063992,  6524368.44772551,
        4142769.18649215,  5578551.52782409,  3233114.13878381,
        7243741.73322415,  3741467.70337546,  6813951.4314799 ,
        4287204.84698395,  8026780.8504391 ,  2918224.55721942,
        6383039.10812622,  2672838.30089173,  4814794.53680127,
        5147342.35883913,  4557465.37201529,  3462256.50834731,
        5771305.62065821,  3383943.80974554,  3975547.59250167,
        3492353.81776167,  3010863.39189789,  7655323.89866325,
        5812298.58728946,  4260523.64810003,  3998745.76648437,
        8112651.60892033,  3273221.67838893,  2663762.41659023,
        4780572.05532955,  4893352.26911963,  3631628.49026085,
        6023560.37574649,  2863890.28180561,  8266036.24563128,
        3888695.37110774,  3889722.99822695,  3605288.65133057,
        4390108.33474465,  5052973.41782771,  3089837.94393733,
        6234160.26256575,  5270825.65441739,  3556603.47452941,
        3273221.67838893,  4683284.16910379,  4414981.83524389,
        7281565.73751442,  4502619.1151934 ,  5986560.95662122,
        6230298.07751933,  7310185.11614983,  3224256.55822762,
        5965178.51913964,  3001070.36786563,  6609306.12971954,
        5138529.1829718 ,  6430507.43872785,  3137543.5768713 ,
        5020564.41168286,  2881252.26739461,  3240448.0788184 ,
        2743249.36314099,  4964206.05990495,  4988367.49998505,
        5738981.51067968,  5737083.58763532,  5431297.04900622,
        6596928.66979183,  5701087.97800692,  3041592.90252981,
        6888125.29841183,  2692893.03898319,  6438246.24063642,
        7103139.79739243,  3836477.29179606,  4288723.72427545,
        3566539.75612043,  3375102.15926201, 10504443.59141621,
        3805995.21668155,  6303287.3553622 ,  3583203.91994759,
        4745816.4611076 ,  4874754.02841937,  8295459.88388032,
        5671679.8261728 ,  5407771.86396079,  5881697.00678575,
        6755003.32253165,  7852285.94709966,  2989380.46566295,
        6476049.91154005,  3886017.87144898,  4496190.29275552,
        3400530.99080834,  3032633.06608299,  2661314.16058216,
        3392712.59455484,  5006333.66443195,  6712623.48279149,
        4288723.72427545,  3544426.71744656,  4702717.51427307,
        4655703.63204555,  3410843.13217794,  5934434.18199707,
        3612351.60960698,  4319282.79697166,  3155783.13961013,
        3934107.54300789,  4071678.56948649,  3774011.40436708,
        4044279.06337084,  7058374.22692043,  4825676.89701322,
        4761937.15433153,  4451699.32267862,  5789053.21724318,
        5780868.29921092,  4526402.90855766,  7677908.39268935,
        2205612.34376979,  2738189.39923542,  4449060.41114979,
        2705382.76872734,  4892799.87709557])

In [ ]:
r2_score(y_test, y_pred)

0.6703870205437847

In [ ]:
model_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
model_diff.head()

     Actual value  Predicted value
60        7140000     5.621203e+06
371       3640000     3.787323e+06
72        6720000     5.846525e+06
197       4956000     5.261700e+06
46        7525000     7.175808e+06

**Evaluating the model**

In [ ]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred)
meanSqErr = metrics.mean_squared_error(y_test, y_pred)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print('R squared: {:.2f}'.format(model.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 67.87
Mean Absolute Error: 794177.5847199903
Mean Square Error: 1294769942790.061
Root Mean Square Error: 1137879.5818495299