<a href="https://colab.research.google.com/github/PelumiOgunlusi/PelumiOgunlusi/blob/main/Project_for_Data_Analysis_for_Ogunlusi_Samuel_Pelumi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ANALYSIS OF SURVIVORS OF A TRAIN ACCIDENT

In [ ]:
import pandas as pd
import numpy as np

READING THE DATA FILE USING PANDA AND DISPLAYING THE TOP 5 ROWS OF THE DATA SET
dataset link: https://docs.google.com/spreadsheets/d/1QhdIjl23nNkkRZfRWCSz2_JH-raZDLu76l56BlQ-rE8/edit?usp=sharing

In [ ]:
df = pd.DataFrame(pd.read_csv('/content/train (1).csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.shape

(891, 12)

DESCRIPTION OF PARAMETERS USED IN ASSIGNING THE VARIABLE DATA

PCLASS: PASSENGER CLASS (1= 1ST CLASS, 2= 2ND CLASS, 3= 3RD CLASS)

SURVIVED: PASSENGERS THAT SURVIVED (0=DID NOT SURVIVE, 1=SURVIVE)

SIBSP: NUMBER OF SIBLINGS OR SPOUSES ABROAD

PARCH: NUMBER OF PARENTS OR CHILDREN ABROAD

EMBARK: LOCATION WHERE THE PASSENGER BOARDED THE TRAIN (C=CHERBOURG,  Q=QUEENSTOWN, S=SOUTHAMPTON)

DETERMINING NUMBER OF NULL VALUES IN EACH COLUMN

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

REMOVING COLUMNS WITH 50% OR MORE MISSING DATA

In [ ]:
x = df.isnull().sum()

drop_col = x[x>(50/100 * df.shape[0])]
drop_col

Cabin    687
dtype: int64

In [ ]:
drop_col.index

Index(['Cabin'], dtype='object')

In [ ]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace= True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [ ]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [ ]:
df['Embarked'].fillna('S', inplace = True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [ ]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

CREATING A NEW COLUMN (FAMILY SIZE) COMPRISNG OF SIBLING/SPOUSES ABROAD AND PARENTS / CHILDREN ABROAD

In [ ]:
df['FamilySize'] = df['SibSp'] + df['Parch']
df.drop(['SibSp', 'Parch'], axis=1, inplace = True)
df.corr()

             PassengerId  Survived    Pclass       Age      Fare  FamilySize
PassengerId     1.000000 -0.005007 -0.035144  0.033207  0.012658   -0.040143
Survived       -0.005007  1.000000 -0.338481 -0.069809  0.257307    0.016639
Pclass         -0.035144 -0.338481  1.000000 -0.331339 -0.549500    0.065997
Age             0.033207 -0.069809 -0.331339  1.000000  0.091566   -0.248512
Fare            0.012658  0.257307 -0.549500  0.091566  1.000000    0.217138
FamilySize     -0.040143  0.016639  0.065997 -0.248512  0.217138    1.000000

CREATIG A NEW COLUMN INDICATING SIGNIFICANCE OF SOLITUDE IN SURVIVAL RATE

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

   PassengerId  Survived  Pclass  ... Embarked FamilySize  Alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 11 columns]

In [ ]:
df.groupby(['Alone'])['Survived'].mean()

Alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

THE RESULTING ASSOCIATION ABOVE SHOWS THAT THE MEAN OF SURVIVERS WHO WERE NOT ALONE IS GREATER THAN THAT OF PASSSENGERS WHO WERE ALONE DURING THE ACCIDENT

In [ ]:
df[['Alone','Fare']].corr()

          Alone      Fare
Alone  1.000000 -0.271832
Fare  -0.271832  1.000000

THE ABOVE ASSOCIATION IMPPLIES HIGHER TICKET FARE FOR ONBOARDERS WHO WERE NOT ALONE

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex'])['Survived'].mean()

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()

Embarked
C    0.553571
Q    0.389610
S    0.339009
Name: Survived, dtype: float64

CONCLUSION



1.   Female passengers had a higher survival compared to men

2.   Survival was higher in class 1 more than class 2 which is in turn greater than class 3

3.   Passengers that were not alone i.e. travelling with family members had a higher survival rate

4.   Cherbourg had the highest survival rate among locations of boarding compared to queenstown and southampton

5. Ticket fare increased correspondingly as family size increases

6. No strong correlation betweeen age and Survival rate